*{
    margin:0px;
    overflow-x: hidden;
}
.nav{
position: absolute;
width: 1920px;
height: 30px;
left: 0px;
top: 0px;

background: #F7F7F7;
}
.gps{
    position: absolute;
width: 20px;
height: 23px;
left: 72px;
top: 6px;

background: url(image.png);
}
.vologda{
    position: absolute;
width: 62px;
height: 18px;
left: 92px;
top: 9px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #797979;
}
.phone{
    position: absolute;
    width: 20px;
    height: 23px;
    left: 170px;
    top: 6px;
    
    background: url(image.png);
}
.number{
    position: absolute;
    width: 99px;
    height: 18px;
    left: 191px;
    top: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #797979;
}
.clock{
    position: absolute;
width: 20px;
height: 23px;
left: 325px;
top: 7px;

background: url(image.png);
}
.time{
    position: absolute;
    width: 203px;
    height: 18px;
    left: 348px;
    top: 9px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
    color: #797979;
}
.forward{
    position: absolute;
width: 22.04px;
height: 23px;
left: 1300px;
top: 6px;

background: url(image.png);
}
.enter{
    position: absolute;
width: 82px;
height: 18px;
left: 1330px;
top: 9px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
text-decoration: none;
color: #797979;
}
.reg{
    position: absolute;
    width: 102px;
    height: 18px;
    left: 1400px;
    top: 9px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
    color: #797979;
    text-decoration: none;
}
.logo{
    position: absolute;
    width: 150px;
    height: 80px;
    left: 72px;
    top: 33px;
}
.menu{
    position: absolute;
width: 91px;
height: 35px;
left: 335px;
top: 52px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 33px;
text-decoration: none;
color: #000000;
}
.cool{
    position: absolute;
width: 91px;
height: 35px;
left: 506px;
top: 52px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 33px;
text-decoration: none;
color: #000000;
}
.about{
    position: absolute;
width: 91px;
height: 35px;
left: 678px;
top: 52px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 33px;
text-decoration: none;
color: #000000;
}
.cart{
    position: absolute;
width: 117px;
height: 35px;
left: 1292px;
top: 52px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 33px;
text-decoration: none;
color: #000000;
}
.cartimg{
    position: absolute;
width: 72px;
height: 85px;
left: 1426px;
top: 35px;

}
.vkidenter{
    position: absolute;
width: 360px;
height: 156px;
left: 344px;
top: 208px;

background: #E9E7E7;
border-radius: 18px;
}
.vkabout{
    position: absolute;
width: 346px;
height: 36px;
left: 10px;
top: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #000000;
}
.vkidbtn{
    position: absolute;
width: 250px;
height: 40px;
left: 50px;
top: 80px;

background: #0077FF;
border-radius: 6px;
}
.regbord{
    box-sizing: border-box;

position: absolute;
width: 420px;
height: 664px;
left: 760px;
top: 208px;

background: #FFFFFF;
border: 1px solid #797979;
border-radius: 18px;
}
.footer{
    position: absolute;
width: 1920px;
height: 400px;
left: 0px;
top: 971px;

background: #EEEEEE;
}
.entity{
    position: absolute;
width: 121px;
height: 39px;
left: 142px;
top: 982px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 39px;
/* identical to box height */
text-decoration: none;

color: #797979;
}
.discounts{
    position: absolute;
    width: 101px;
    height: 39px;
    left: 464px;
    top: 990px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */
    text-decoration: none;
    
    color: #797979;
}
.delivery{
    position: absolute;
    width: 153px;
    height: 39px;
    left: 789px;
    top: 990px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */
    text-decoration: none;
    
    color: #797979;
}
.mobapp{
    position: absolute;
width: 385px;
height: 62px;
left: 1115px;
top: 982px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 31px;

color: #797979;
text-decoration: none;
}
.recs{
    position: absolute;
    width: 175px;
    height: 29px;
    left: 127px;
    top: 1044px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    
    text-decoration: none;
    color: #797979
}
.fastfood{
    position: absolute;
    width: 181px;
    height: 29px;
    left: 124px;
    top: 1096px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-decoration: none;
    
    color: #797979;
}
.drink{

    position: absolute;
    width: 99px;
    height: 29px;
    left: 152px;
    top: 1148px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-decoration: none;
    
    color: #797979;
}
.bakaly{
    position: absolute;
    width: 98px;
    height: 29px;
    left: 154px;
    top: 1200px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    
    text-decoration: none;
    color: #797979;
}
.alc{
    position: absolute;
    width: 110px;
    height: 29px;
    left: 147px;
    top: 1252px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-decoration: none;
    
    color: #797979;
}
.hbd{
    position: absolute;
    width: 185px;
    height: 29px;
    left: 434px;
    top: 1044px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    
    text-decoration: none;
    color: #797979;
}
.Dobriy{
    position: absolute;
    width: 94px;
    height: 29px;
    left: 470px;
    top: 1096px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-decoration: none;
    
    color: #797979;
}
.deliveryad{
    position: absolute;
    width: 112px;
    height: 29px;
    left: 465px;
    top: 1148px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-decoration: none;
    
    color: #797979;
}
.deltime{
    position: absolute;
    width: 192px;
    height: 29px;
    left: 770px;
    top: 1052px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-decoration: none;
    
    color: #797979;
}
.delprice{
    position: absolute;
    width: 130px;
    height: 29px;
    left: 794px;
    top: 1104px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    
    text-decoration: none;
    color: #797979;
}
.partners{

    position: absolute;
    width: 118px;
    height: 29px;
    left: 798px;
    top: 1154px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-decoration: none;
    
    color: #797979;
}
.google{
    position: absolute;
    width: 162px;
    height: 55px;
    left: 1110px;
    top: 1080px;
}
.apple{
    position: absolute;
    width: 162px;
    height: 55px;
    left: 1295px;
    top: 1080px;
    
    background: url(Rectangle 116.png);
}
.copyright{
    position: absolute;
width: 634px;
height: 39px;
left: 549px;
top: 1330px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 39px;
/* identical to box height */


color: #797979;
}
.regh{
    position: absolute;
width: 305px;
height: 39px;
left: 783px;
top: 220px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 39px;
/* identical to box height */
font-weight: bold;

color: #000000
}
.submitbtn{
    position: absolute;
    width: 200px;
    height: 45px;
    left: 870px;
    top: 752px;
     
}
.agreement{
    position: absolute;
width: 350px;
height: 39px;
left: 810px;
top: 819px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #797979;
}
.regname{
    position: absolute;
width: 32px;
height: 18px;
left: 790px;
top: 268px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #797979;

}
.regsur{
    position: absolute;
width: 68px;
height: 18px;
left: 970px;
top: 268px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #797979;
}
.namein{
    box-sizing: border-box;

position: absolute;
width: 172px;
height: 39px;
left: 790px;
top: 286px;

background: #FFFFFF;
border: 1px solid #797979;
border-radius: 6px
}
.surin{
    
box-sizing: border-box;

position: absolute;
width: 188px;
height: 39px;
left: 970px;
top: 286px;

border: 1px solid #797979;
border-radius: 6px;
}
.dayin{
    box-sizing: border-box;

    position: absolute;
    width: 79px;
    height: 39px;
    left: 790px;
    top: 345px;
    
    background: #FFFFFF;
    border: 1px solid #797979;
}
.monthin{
    box-sizing: border-box;

    position: absolute;
    width: 192px;
    height: 39px;
    left: 869px;
    top: 345px;
    
    background: #FFFFFF;
    border: 1px solid #797979;
}
.yearin{
    box-sizing: border-box;

    position: absolute;
    width: 102px;
    height: 39px;
    left: 1057px;
    top: 345px;
    
    background: #FFFFFF;
    border: 1px solid #797979;
}
.loginin{
    box-sizing: border-box;

    position: absolute;
    width: 373px;
    height: 39px;
    left: 790px;
    top: 522px;
    
    background: #FFFFFF;
    border: 1px solid #797979;
}
.passin{
    box-sizing: border-box;

    position: absolute;
    width: 373px;
    height: 39px;
    left: 790px;
    top: 592px;
    
    background: #FFFFFF;
    border: 1px solid #797979;
}
.phonein{
    box-sizing: border-box;

    position: absolute;
    width: 373px;
    height: 39px;
    left: 790px;    
    top: 662px;
    
    background: #FFFFFF;
    border: 1px solid #797979;  
}
.reglog{
    position: absolute;
width: 50px;
height: 18px;
left: 790px;
top: 500px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #797979;

}
.passlog{
    position: absolute;
width: 50   px;
height: 18px;
left: 790px;
top: 570px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #797979;

}
.phonelog{
    position: absolute;
width: 60px;
height: 18px;
left: 790px;
top: 640px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #797979;

}
.regsex{
    position: absolute;
width: 60px;
height: 18px;
left: 790px;
top: 420px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #797979;

}
.male{
    box-sizing: border-box;

    position: absolute;
    width: 15px;
    height: 15px;
    left: 790px;
    top: 454px;
    
    background: #FFFFFF;
    border: 1px solid #797979;
}
.female{
    box-sizing: border-box;

    position: absolute;
    width: 15px;
    height: 15px;
    left: 930px;
    top: 454px;
    
    background: #FFFFFF;
    border: 1px solid #797979;
}
.regmale{
    position: absolute;
    width: 69px;
    height: 18px;
    left: 820px;
    top: 453px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
    color: #797979;
}
.regfemale{
    position: absolute;
    width: 69px;
    height: 18px;
    left: 950px;
    top: 453px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
    color: #797979;
}
.loginborder{
    box-sizing: border-box;

position: absolute;
width: 420px;
height: 412px;
left: 550px;
top: 345px;

background: #FFFFFF;
border: 1px solid #797979;
border-radius: 18px;
}
.enterh1{
    position: absolute;
width: 78px;
height: 39px;
left: 573px;
top: 357px;

font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
/* identical to box height */
}
.login_phone{
    position: absolute;
width: 114px;
height: 18px;
left: 573px;
top: 423px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #797979;
}
.logenter{
    
box-sizing: border-box;

position: absolute;
width: 373px;
height: 39px;
left: 573px;
top: 441px;

background: #FFFFFF;
border: 1px solid #797979;
}
.passenter{
    position: absolute;
width: 56px;
height: 18px;
left: 573px;
top: 494px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #797979;
}
.passenterin{
    box-sizing: border-box;

position: absolute;
width: 373px;
height: 39px;
left: 573px;
top: 511px;

background: #FFFFFF;
border: 1px solid #797979;
}
.rememberme{
    box-sizing: border-box;

position: absolute;
width: 15px;
height: 15px;
left: 574px;
top: 561px;

background: #FFFFFF;
border: 1px solid #797979;
}
.remembro{
    position: absolute;
width: 123px;
height: 18px;
left: 599px;
top: 560px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #797979;

}
.faggotpass{
    position: absolute;
width: 122px;
height: 18px;
left: 823px;
top: 560px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #0077FF;

}
.enterby{
    
position: absolute;
width: 134px;
height: 18px;
left: 693px;
top: 615px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #797979;
}
.vklogo{
    position: absolute;
width: 50px;
height: 34px;
left: 745px;
top: 639px;

}
.entercbtn{
    position: absolute;
width: 200px;
height: 50px;
left: 660px;
top: 693px;

}
.chebupiece{
    position: absolute;
width: 899px;
height: 48px;
left: 79px;
top: 213px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;

color: #000000;
}
.chebuimg{
    position: absolute;
width: 831px;
height: 831px;
left: 0px;
top: 187px;
z-index: -1;
}
.stars{
    position: absolute;
width: 87px;
height: 19.04px;
left: 98px;
top: 263px;

}
.starssign{
    position: absolute;
width: 84px;
height: 17px;
left: 193px;
top: 264px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #000000;
}
.chebuinfone{
    position: absolute;
width: 546px;
height: 595px;
left: 800px;
top: 334px;

font-family: 'Inter';
font-style: normal;
font-weight: lighter;
font-size: 16px;
line-height: 42px;

color: #000000;
}
.buybox{
    position: absolute;
width: 300px;
height: 200px;
left: 1152px;
top: 334px;

background: #FFFFFF;
box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
border-radius: 45px;
}
.dostavimza{
    position: absolute;
left:20px;
top:20px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;
}
.cena{
    position: absolute;
    left:110px;
    top:65px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 65px;

color: #000000;
}
.buybtnsingle{
    position: absolute;
    top:140px;
    left:30px;

}