doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  title 
.nav
  img.gps(src='gps.png' alt='gps')
  p.vologda &Vcy;&ocy;&lcy;&ocy;&gcy;&dcy;&acy;
  img.phone(src='phone.png' alt='phone')
  p.number +79965124040
  img.clock(src='time.png' alt='time')
  p.time &IEcy;&zhcy;&iecy;&dcy;&ncy;&iecy;&vcy;&ncy;&ocy; &scy; 8:00 &dcy;&ocy; 24:00
  img.forward(src='forward.png' alt='forward')
  a.enter(href='#')
    p &Vcy;&khcy;&ocy;&dcy;
  a.reg(href='#')
    p &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
a.logo(href='#')
  img(src='navlogo.png' alt='logo')
a.menu(href='#')
  p &Mcy;&iecy;&ncy;&yucy;
a.cool(href='#')
  p &Acy;&kcy;&tscy;&icy;&icy;
a.about(href='#')
  p &Ocy; &ncy;&acy;&scy;
a.cart(href='#')
  p &Kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
a.cartimg(href='#')
  img(src='cart.png' alt='')
.footer
a.entity(href='#')
  p &Tcy;&ocy;&vcy;&acy;&rcy;&ycy;
a.discounts(href='#')
  p &Acy;&kcy;&tscy;&icy;&icy;
a.delivery(href='#')
  p &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy;
a.mobapp(href='#')
  p &Pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&iecy; &dcy;&lcy;&yacy; &mcy;&ocy;&bcy;&icy;&lcy;&softcy;&ncy;&ycy;&khcy; &ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;
a.recs(href='#')
  p &Rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&acy;&tscy;&icy;&icy;
a.fastfood(href='#')
  p &Gcy;&ocy;&tcy;&ocy;&vcy;&ycy;&iecy; &bcy;&lcy;&yucy;&dcy;&acy;
a.drink(href='#')
  p &Ncy;&acy;&pcy;&icy;&tcy;&kcy;&icy;
a.bakaly(href='#')
  p &Bcy;&acy;&kcy;&acy;&lcy;&iecy;&yacy;
a.alc(href='#')
  p &Acy;&lcy;&kcy;&ocy;&gcy;&ocy;&lcy;&softcy;
a.hbd(href='#')
  p &Dcy;&iecy;&ncy;&softcy; &rcy;&ocy;&zhcy;&dcy;&iecy;&ncy;&icy;&yacy;
a.Dobriy(href='#')
  p &Dcy;&ocy;&bcy;&rcy;&ycy;&jcy;
a.deliveryad(href='#')
  p &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy;
a.deltime(href='#')
  p &Vcy;&rcy;&iecy;&mcy;&yacy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&icy;
a.delprice(href='#')
  p C&tcy;&ocy;&icy;&mcy;&ocy;&scy;&tcy;&softcy;
a.partners(href='#')
  p &Pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ycy;
a.google(href='#')
  img(src='googleplay.png')
a.apple(href='#')
  img(src='appstore.png')
p.copyright &Scy;opyright &copy; 2023 &Vcy;&scy;&iecy; &pcy;&rcy;&acy;&vcy;&acy; &zcy;&acy;&shchcy;&icy;&shchcy;&iecy;&ncy;&ycy;
