doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='promstyle.css')
  title Document
img.iphone(src='iphone.png' alt='')
img.chebupromo(src='chebupromo.png' alt='')
p.chebupromoh &Pcy;&ocy;&lcy;&ucy;&chcy;&icy; &shcy;&acy;&ncy;&scy; &vcy;&ycy;&icy;&gcy;&rcy;&acy;&tcy;&softcy; &acy;&jcy;&fcy;&ocy;&ncy;
p.chebupromoh2
  | &Ocy;&tcy;&scy;&kcy;&acy;&ncy;&icy;&rcy;&ucy;&jcy; &chcy;&iecy;&kcy; &scy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&iecy;&jcy; &gcy;&ocy;&rcy;&yacy;&chcy;&iecy;&jcy; &shcy;&tcy;&ucy;&chcy;&kcy;&icy; &vcy; &pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&icy;  &scy;&bcy;&iecy;&rcy;&bcy;&acy;&ncy;&kcy; &icy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy; &shcy;&acy;&ncy;&scy; &vcy;&ycy;&icy;&gcy;&rcy;&acy;&tcy;&softcy; &acy;&jcy;&fcy;&ocy;&ncy; 14 pro max
a.uchavstovat(href='#')
  img(src='uchavstovat.png' alt='')
a.sberbro(href='#')
  img(src='sberbro.png' alt='')
a.hothing(href='#')
  img(src='hothing.png' alt='')
a.logopromo(href='#')
  img(src='logopromo.png' alt='')