doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  title Document
.nav
  img.gps(src='gps.png' alt='gps')
  p.vologda &Vcy;&ocy;&lcy;&ocy;&gcy;&dcy;&acy;
  img.phone(src='phone.png' alt='phone')
  p.number +79965124040
  img.clock(src='time.png' alt='time')
  p.time &IEcy;&zhcy;&iecy;&dcy;&ncy;&iecy;&vcy;&ncy;&ocy; &scy; 8:00 &dcy;&ocy; 24:00
  img.forward(src='forward.png' alt='forward')
  a.enter(href='#')
    p &Vcy;&khcy;&ocy;&dcy;
  a.reg(href='#')
    p &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
a.logo(href='#')
  img(src='navlogo.png' alt='logo')
a.menu(href='#')
  p &Mcy;&iecy;&ncy;&yucy;
a.cool(href='#')
  p &Acy;&kcy;&tscy;&icy;&icy;
a.about(href='#')
  p &Ocy; &ncy;&acy;&scy;
a.cart(href='#')
  p &Kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
a.cartimg(href='#')
  img(src='cart.png' alt='')
.vkidenter
  p.vkabout &CHcy;&tcy;&ocy;&bcy;&ycy; &ncy;&iecy; &zcy;&acy;&pcy;&ocy;&lcy;&ncy;&yacy;&tcy;&softcy; &acy;&ncy;&kcy;&iecy;&tcy;&ucy;, &scy;&ocy;&zcy;&dcy;&acy;&jcy;&tcy;&iecy; &pcy;&ocy;&chcy;&tcy;&ocy;&vcy;&ycy;&jcy; &yacy;&shchcy;&icy;&kcy; &chcy;&iecy;&rcy;&iecy;&zcy;: 
  a
    img.vkidbtn(src='vkid.png' alt='')
.regbord
.footer